
backend/AniMATE_backend/AniMATE_Api/Database.db

backend/AniMATE_backend/AniMATE_Api/Database.db-shm

backend/AniMATE_backend/AniMATE_Api/Database.db-wal

backend/AniMATE_backend/AniMATE_Api/obj/Debug/net8.0/AniMATE_Api.AssemblyInfo.cs

backend/AniMATE_backend/AniMATE_Api/obj/Debug/net8.0/AniMATE_Api.AssemblyInfoInputs.cache

backend/AniMATE_backend/AniMATE_Api/obj/rider.project.restore.info
